<h1>New Feedback document</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.feedback_document_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.feedback_document_path(@conn, :index) %></span>
